.footer {
    background-color: #ef7428;
    color: #ffffff;
}

.footer .container {
    padding: 40px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.footer-list {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.footer-brand {
    flex-basis: 20%;

}

.footer-item p {
    font-weight: bold;
}

.footer-item li {
    list-style-type: none;
}

.footer .copy {
    background-color: #e76215;
    color: #ffffff;
    padding: 10px 0;
    text-align: center;
}

.footer-item a {
    color: #ffffff;
    text-decoration: none;
}

.copy a {
    color: #ffffff;
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .footer .container {
        flex-direction: column;
        padding: 20px;
    }

    .footer-list {
        flex-direction: column;
    }

    .footer-item {
        margin-bottom: 20px;
    }

    .footer-brand {
        margin-bottom: 20px;
    }
}